{% extends 'base.html' %}				

{% block content %}
	<!-- Inspire slides -->
	<article id="home" class="active" style="margin-left: 190px; margin-right: 190px; display: block;">
		<img src="./Kauffman Foundation   Will It Be You _files/slideHome.png" alt="">
        <p>Choose your path to success</p>
	</article>

	<!-- Inspire slides -->
	<article id="inspire" class="intro inspire" style="margin-left: 190px; margin-right: 190px; display: block;">
		<section>
			<h1>Get Inspired</h1>
			<p>Thinking about taking the entrepreneurial leap? There are people and programs that can provide encouragement and real-world support as you follow your dream. Learn about resources available to offer the inspiration and practical skills you need.</p>
			<p class="more">Let us help you <a href="http://willitbeyou.com/?page=inspire1">get inspired</a></p>
		</section>
		<img src="./Kauffman Foundation   Will It Be You _files/slideInspire.png" alt="">
		<aside>
			<h2>Did you know</h2>
			<p>More than half of the companies on the 2009 Fortune 500 list and nearly half of the firms on the 2008 Inc. list of America's fastest-growing companies were launched during a recession or bear market. <a href="http://www.kauffman.org/newsroom/the-economic-future-just-happened.aspx" rel="external" target="_blank">Learn more.</a></p>
			<p class="button">Did You Know</p>
		</aside>
	</article>

	<article id="inspire1" class="properties inspire" style="margin-left: 190px; margin-right: 190px; display: block;">
		<h1>Inspire</h1>
		<nav>
			<a class="next" href="http://willitbeyou.com/?page=inspire2">See More</a>
		</nav>
		<ul class="properties">
             <li>
				<h2 class="1millioncups"><img src="./Kauffman Foundation   Will It Be You _files/logo-1millioncups-new.png" alt="1MillionCups"></h2>
<p>
	Engages Kansas City entrepreneurs through a weekly educational program in which regional startups present their companies to a diverse audience of mentors, advisors, and entrepreneurs.
</p>
<p class="more">
	<a href="http://www.1millioncups.com/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
			
			<li>
				<h2 class="entrepreneurship">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-entrepreneurship.png" alt="Entrepreneurship.org"></h2>
<p>One of the most comprehensive sources of information, tools, and resources available to help entrepreneurs operate a business venture, create wealth, and employ people.</p>
<p class="more">
	<a href="http://www.entrepreneurship.org/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
			
			<li>
				<h2 class="globalEntrepreneurs">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-globalEntrepreneurshipWeek.png" alt="Global Entrepreneurship Week">
</h2>
<p>An annual weeklong series of celebrations involving millions of people in more than 100 countries, designed to inspire entrepreneurship and innovation.</p>
<p class="more">
	<a href="http://www.unleashingideas.org/" rel="external" target="_blank">Visit Site</a>
</p>
			</li>
			<li>
				<h2 class="istart">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-istart.png" alt="istart">
</h2>
<p>iStart is the go-to site for entering business competitions from around the world, browsing pages of startup ideas and networking with entrepreneurs.</p>
<p class="more">
	<a href="http://www.istart.org/" rel="external" target="_blank">Visit Site</a>
</p>
			</li>
			<li>
				<h2 class="KauffmanFoundersSchool">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-KauffmanFoundersSchool.png" alt="Kauffman Founders School">
</h2>
<p>
	Tapping the potential of online education, Founders School presents curriculum that enable entrepreneurs to learn anytime, anywhere, through a rich learning experience presented by subject matter experts.
</p>
<p class="more">
	<a href="http://www.kauffmanfoundersschool.org/" rel="external" target="_blank">Visit Site</a>
</p>
			</li>
		</ul>
	</article>

	<article id="inspire2" class="properties inspire" style="margin-left: 190px; margin-right: 190px; display: block;">
		<h1>Inspire</h1>
		<nav>
			<a class="previous" href="http://willitbeyou.com/?page=inspire1">See <em>Previous</em></a>
			<a class="next" href="http://willitbeyou.com/?page=inspire3">See More</a>
		</nav>
		<ul class="properties">
			
			<li>
				<h2 class="makerfaire">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-makerFaire.png" alt="Maker Faire">
</h2>
<p>
	Created by Make magazine, it’s the premier event for grassroots American innovation, celebrating arts, crafts, engineering, food, music, science, and technology.

</p>
<p class="more">
	<a href="http://www.makerfaire.com/" rel="external" target="_blank">Visit Site</a>
</p>
			</li>
			<li>
				<h2 class="entrepreneurOfTheYear"><img src="./Kauffman Foundation   Will It Be You _files/logo-EntrepreneurOfTheYear.png" alt="Entrepreneur of the Year"></h2>
<p>
	An awards program recognizing entrepreneurs who create jobs and drive economic vibrancy. US nominations are due March 9, 2012.
</p>
<p class="more">
	<a href="http://www.ey.com/US/en/About-us/Entrepreneurship/Entrepreneur-Of-The-Year" rel="external" target="_blank">Visit Site</a>
</p>
			</li>
            <li>
				<h2 class="KhanAcademy">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-KhanAcademy.png" alt="Khan Academy">
</h2>
<p>
	Online interview, video series featuring personal lessons and insights from accomplished entrepreneurs, including tips, anecdotes, and personal characteristics.
</p>
<p class="more">
	<a href="http://www.khanacademy.org/r/entrepreneurship" rel="external" target="_blank">Visit Site</a>
</p>
			</li>
            <li>
				<h2 class="SiliconPrairieNews">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-SiliconPrairieNews.png" alt="Silicon Prairie News">
</h2>
<p>A digital media company dedicated to highlighting and supporting entrepreneurs, creatives and investors in and around Omaha, Des Moines, and Kansas City.
</p>
<p class="more">
	<a href="http://www.siliconprairienews.com/" rel="external" target="_blank">Visit Site</a>
</p>
			</li>
            <li>
				<h2 class="StartupGenome">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-StartupGenome.png" alt="Startup Genome">
</h2>
<p>
	A worldwide network of volunteer curators creating a comprehensive database of local startup companies and entrepreneurs.
</p>
<p class="more">
	<a href="http://www.startupgenome.com/" rel="external" target="_blank">Visit Site</a>
</p>
			</li>
		</ul>
	</article>
    
    <article id="inspire3" class="properties inspire" style="margin-left: 190px; margin-right: 190px; display: block;">
		<h1>Inspire</h1>
		<nav>
			<a class="previous" href="http://willitbeyou.com/?page=inspire2">See <em>Previous</em></a>
		</nav>
		<ul class="properties">
		
       <li>
				<h2 class="icehouse">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-iceHouse.png" alt="The Ice House Entrepreneurship Program">
</h2>
<p>
	An online program that immerses participants in the fundamental concepts of an entrepreneurial mindset to empower learners and help them develop entrepreneurial skills.

</p>
<p class="more">
	<a href="http://www.whoownstheicehouse.com/" rel="external" target="_blank">Visit Site</a>
</p>
			</li>
            <li>
				<h2 class="startupWeekend">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-startupWeek.png" alt="Startup Weekend">
</h2>
<p>
	This platform hosts 54-hour events at a grassroots level worldwide to educate aspiring entrepreneurs by immersing them in the process of moving an idea to market.

</p>
<p class="more">
	<a href="http://www.startupweekend.org/" rel="external" target="_blank">Visit Site</a>
</p>
			</li>
		
		</ul>
	</article>


	<!-- Network slides -->
	<article id="network" class="intro network" style="margin-left: 190px; margin-right: 190px; display: block;">
		<section>
			<h1>Get Networked</h1>
			<p>Personal connections can be crucial when seeking mentors, partners, clients and key employees. These programs introduce you to key people you might not have had the opportunity to meet otherwise.</p>
			<p class="more">Let us help you <a href="http://willitbeyou.com/?page=network1">get networked</a></p>
		</section>
		<img src="./Kauffman Foundation   Will It Be You _files/slideNetwork.png" alt="">
		<aside>
			<h2>Did you know</h2>
			<p>Contrary to popularly held assumptions, over the past decade, the highest rate of entrepreneurial activity belongs to the 55 to 64 age group. <a href="http://www.kauffman.org/research-and-policy/the-coming-entrepreneurial-boom.aspx" rel="external" target="_blank">Learn more.</a></p>
			<p class="button">Did You Know</p>
		</aside>
	</article>

	<article id="network1" class="properties network" style="margin-left: 190px; margin-right: 190px; display: block;">
		<h1>Network</h1>
		<nav>
			<a class="next" href="http://willitbeyou.com/?page=network2">See More</a>
		</nav>
		<ul class="properties">
			<!-- li>
				<h2 class="kauffmanLabs">
	<img src="themes/superbowl/images/content/logo-kauffmanLabs.png" alt="Kauffman Labs" />
</h2>
<p>
	A new approach to developing the next generation of fast-growth firms, Labs teaches entrepreneurs in a lab setting, while studying the “science of startups” in the process.

</p>
<p class="more">
	<a href="http://www.kauffmanlabs.org" rel="external">Visit Site</a>
</p>	
			</li -->
              <li>
				<h2 class="1millioncups"><img src="./Kauffman Foundation   Will It Be You _files/logo-1millioncups-new.png" alt="1MillionCups"></h2>
<p>
	Engages Kansas City entrepreneurs through a weekly educational program in which regional startups present their companies to a diverse audience of mentors, advisors, and entrepreneurs.
</p>
<p class="more">
	<a href="http://www.1millioncups.com/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
			<li>
				<h2 class="entrepreneurship">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-entrepreneurship.png" alt="Entrepreneurship.org"></h2>
<p>One of the most comprehensive sources of information, tools, and resources available to help entrepreneurs operate a business venture, create wealth, and employ people.</p>
<p class="more">
	<a href="http://www.entrepreneurship.org/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
            <li>
				<h2 class="globalEntrepreneurs">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-globalEntrepreneurshipWeek.png" alt="Global Entrepreneurship Week">
</h2>
<p>An annual weeklong series of celebrations involving millions of people in more than 100 countries, designed to inspire entrepreneurship and innovation.</p>
<p class="more">
	<a href="http://www.unleashingideas.org/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
            <li>
				<h2 class="istart">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-istart.png" alt="istart">
</h2>
<p>iStart is the go-to site for entering business competitions from around the world, browsing pages of startup ideas and networking with entrepreneurs.</p>
<p class="more">
	<a href="http://www.istart.org/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
			<li>
				<h2 class="kauffmanfasttrac">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-kauffmanFastTrac.png" alt="Kauffman FastTrac">
</h2>
<p>
	Practical, hands-on learning programs for entrepreneurs delivered by a variety of affiliate organizations in the U.S., around the world.

</p>
<p class="more">
	<a href="http://www.fasttrac.org/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
	
		
			
           
		</ul>
	</article>

	<article id="network2" class="properties network" style="margin-left: 190px; margin-right: 190px; display: block;">
		<h1>Network</h1>
		<nav>
			<a class="previous" href="http://willitbeyou.com/?page=network1">See <em>Previous</em></a>
			<a class="next" href="http://willitbeyou.com/?page=network3">See More</a>
		</nav>
		<ul class="properties">

			<li>
				<h2 class="angelResource">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-angelResourceInstitute.png" alt="Angel  Resource Institute">
</h2>
<p>
	Provides education, training, mentoring, and information on best practices in the field of angel investing to improve connections between angel investors and entrepreneurs.
</p>
<p class="more">
	<a href="http://www.angelcapitaleducation.org/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
            	<li>
				<h2 class="icehouse">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-iceHouse.png" alt="The Ice House Entrepreneurship Program">
</h2>
<p>
	An online program that immerses participants in the fundamental concepts of an entrepreneurial mindset to empower learners and help them develop entrepreneurial skills.

</p>
<p class="more">
	<a href="http://www.whoownstheicehouse.com/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
			 <li>
				<h2 class="KhanAcademy">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-KhanAcademy.png" alt="Khan Academy">
</h2>
<p>
	Online interview, video series featuring personal lessons and insights from accomplished entrepreneurs, including tips, anecdotes, and personal characteristics.
</p>
<p class="more">
	<a href="http://www.khanacademy.org/r/entrepreneurship" rel="external" target="_blank">Visit Site</a>
</p>
			</li>
            <li>
				<h2 class="makerfaire">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-makerFaire.png" alt="Maker Faire">
</h2>
<p>
	Created by Make magazine, it’s the premier event for grassroots American innovation, celebrating arts, crafts, engineering, food, music, science, and technology.

</p>
<p class="more">
	<a href="http://www.makerfaire.com/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
            <li>
				<h2 class="pipeline">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-pipeline.png" alt="PIPELINE">
</h2>
<p>
	A nationally-acclaimed Midwest entrepreneurial “immersion” program and powerful network for innovative, high-growth entrepreneurs.

</p>
<p class="more">
	<a href="http://www.pipelineentrepreneurs.com/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
			<!--
			<li>
				<h2 class="startupDigest">
	<img src="themes/superbowl/images/content/logo-startupDigest.png" alt="StartupDigest" />
</h2>
<p>
	An online community that connects the worldwide startup and tech ecosystem by informing individuals of events, job opportunities, and educational content in their areas.
</p>
<p class="more">
	<a href="http://www.startupdigest.com" rel="external">Visit Site</a>
</p>	
			</li>-->
		</ul>
	</article>

	<article id="network3" class="properties network" style="margin-left: 190px; margin-right: 190px; display: block;">
		<h1>Network</h1>
		<nav>
			<a class="previous" href="http://willitbeyou.com/?page=network2">See <em>Previous</em></a>
			
		</nav>
		<ul class="properties">
			 <li>
				<h2 class="SiliconPrairieNews">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-SiliconPrairieNews.png" alt="Silicon Prairie News">
</h2>
<p>A digital media company dedicated to highlighting and supporting entrepreneurs, creatives and investors in and around Omaha, Des Moines, and Kansas City.
</p>
<p class="more">
	<a href="http://www.siliconprairienews.com/" rel="external" target="_blank">Visit Site</a>
</p>
			</li>
            <li>
				<h2 class="StartupGenome">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-StartupGenome.png" alt="Startup Genome">
</h2>
<p>
	A worldwide network of volunteer curators creating a comprehensive database of local startup companies and entrepreneurs.
</p>
<p class="more">
	<a href="http://www.startupgenome.com/" rel="external" target="_blank">Visit Site</a>
</p>
			</li>
             <li>
				<h2 class="startupWeekend">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-startupWeek.png" alt="Startup Weekend">
</h2>
<p>
	This platform hosts 54-hour events at a grassroots level worldwide to educate aspiring entrepreneurs by immersing them in the process of moving an idea to market.

</p>
<p class="more">
	<a href="http://www.startupweekend.org/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
            	<li>
				<h2 class="usSourceLink">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-usSourceLink.png" alt="U.S. SourceLink">
</h2>
<p>
	U.S.SourceLink is America's largest resource network for entrepreneurs, encompassing more than 5,000 entrepreneurial support organizations that serve established businesses and aspiring entrepreneurs.

</p>
<p class="more">
	<a href="http://www.ussourcelink.com/resources" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
			<!--
			<li>
				<h2 class="astia">
	<img src="themes/superbowl/images/content/logo-astia.png" alt="Astia" /></h2>
<p>
	A global not-for-profit organization that propels women’s full participation as entrepreneurs and leaders in high-growth businesses, fueling innovation and driving growth.

</p>
<p class="more">
	<a href="http://www.astia.org" rel="external">Visit Site</a>
</p>	
			</li>-->
			
			
		</ul>
	</article>

	


	<!-- Create slides -->
	<article id="create" class="intro create" style="margin-left: 190px; margin-right: 190px; display: block;">
		<section>
			<h1>Get Creative</h1>
			<p>Have a great idea? The trick is turning your passion into a viable product or service. Learn about programs offering the practical processes needed to move your idea to market and put your business on a solid foundation.</p>
			<p class="more">Let us help you <a href="http://willitbeyou.com/?page=create1">get creative</a></p>
		</section>
		<img src="./Kauffman Foundation   Will It Be You _files/slideCreate.png" alt="">
		<aside>
			<h2>Did you know</h2>
			<p>From 1980 to 2005, firms less than five years old accounted for all net job growth in the United States. <a href="http://www.kauffman.org/newsroom/business-dynamic-statistics.aspx" rel="external" target="_blank">Learn more.</a></p>
			<p class="button">Did You Know</p>
		</aside>
	</article>

	<article id="create1" class="properties create" style="margin-left: 190px; margin-right: 190px; display: block;">
		<h1>Create</h1>
		<nav>
			<a class="next" href="http://willitbeyou.com/?page=create2">See More</a>
		</nav>
		<ul class="properties">
				<li>
				<h2 class="globalEntrepreneurs">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-globalEntrepreneurshipWeek.png" alt="Global Entrepreneurship Week">
</h2>
<p>An annual weeklong series of celebrations involving millions of people in more than 100 countries, designed to inspire entrepreneurship and innovation.</p>
<p class="more">
	<a href="http://www.unleashingideas.org/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
            
            <li>
				<h2 class="istart">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-istart.png" alt="istart">
</h2>
<p>iStart is the go-to site for entering business competitions from around the world, browsing pages of startup ideas and networking with entrepreneurs.</p>
<p class="more">
	<a href="http://www.istart.org/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
			<li>
				<h2 class="kauffmanfasttrac">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-kauffmanFastTrac.png" alt="Kauffman FastTrac">
</h2>
<p>
	Practical, hands-on learning programs for entrepreneurs delivered by a variety of affiliate organizations in the U.S., around the world.

</p>
<p class="more">
	<a href="http://www.fasttrac.org/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
            	<li>
				<h2 class="KauffmanFoundersSchool">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-KauffmanFoundersSchool.png" alt="Kauffman Founders School">
</h2>
<p>
	Tapping the potential of online education, Founders School presents curriculum that enable entrepreneurs to learn anytime, anywhere, through a rich learning experience presented by subject matter experts.
</p>
<p class="more">
	<a href="http://www.kauffmanfoundersschool.org/" rel="external" target="_blank">Visit Site</a>
</p>
			</li>
             <li>
				<h2 class="icehouse">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-iceHouse.png" alt="The Ice House Entrepreneurship Program">
</h2>
<p>
	An online program that immerses participants in the fundamental concepts of an entrepreneurial mindset to empower learners and help them develop entrepreneurial skills.

</p>
<p class="more">
	<a href="http://www.whoownstheicehouse.com/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
			
			
			
		
		</ul>
	</article>

	<article id="create2" class="properties create" style="margin-left: 190px; margin-right: 190px; display: block;">
		<h1>Create</h1>
		<nav>
			<a class="previous" href="http://willitbeyou.com/?page=create1">See <em>Previous</em></a>
		</nav>
		<ul class="properties">
			<li>
				<h2 class="InnovationFundAmerica">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-InnovationFundAmerica.png" alt="Innovation Fund America">
</h2>
<p>
	This innovative program empowers community colleges to support high-growth tech startups and entrepreneurs in their communities with seed-stage capital, high-impact mentorship, educational resources, and access to important networks.
</p>
<p class="more">
	<a href="http://www.innovationfundamerica.org/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
            <li>
				<h2 class="KhanAcademy">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-KhanAcademy.png" alt="Khan Academy">
</h2>
<p>
	Online interview, video series featuring personal lessons and insights from accomplished entrepreneurs, including tips, anecdotes, and personal characteristics.
</p>
<p class="more">
	<a href="http://www.khanacademy.org/r/entrepreneurship" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
            <li>
				<h2 class="makerfaire">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-makerFaire.png" alt="Maker Faire">
</h2>
<p>
	Created by Make magazine, it’s the premier event for grassroots American innovation, celebrating arts, crafts, engineering, food, music, science, and technology.

</p>
<p class="more">
	<a href="http://www.makerfaire.com/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
			<li>
				<h2 class="pipeline">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-pipeline.png" alt="PIPELINE">
</h2>
<p>
	A nationally-acclaimed Midwest entrepreneurial “immersion” program and powerful network for innovative, high-growth entrepreneurs.

</p>
<p class="more">
	<a href="http://www.pipelineentrepreneurs.com/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
            <li>
				<h2 class="StartupGenome">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-StartupGenome.png" alt="Startup Genome">
</h2>
<p>
	A worldwide network of volunteer curators creating a comprehensive database of local startup companies and entrepreneurs.
</p>
<p class="more">
	<a href="http://www.startupgenome.com/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
			<!--
            <li>
				<h2 class="startupWeekend">
	<img src="themes/superbowl/images/content/logo-startupWeek.png" alt="Startup Weekend" />
</h2>
<p>
	This platform hosts 54-hour events at a grassroots level worldwide to educate aspiring entrepreneurs by immersing them in the process of moving an idea to market.

</p>
<p class="more">
	<a href="http://www.startupweekend.org" rel="external">Visit Site</a>
</p>	
			</li>-->
           
		</ul>
	</article>


	<!-- Mentor slides -->
	<article id="mentor" class="intro mentor" style="margin-left: 190px; margin-right: 190px; display: block;">
		<section>
			<h1>Get Coaching</h1>
			<p>A good mentor will offer you timely guidance about your particular industry or phase of business. These programs are designed to connect you with coaching and help you make the right moves.</p>
			<p class="more">Let us help you <a href="http://willitbeyou.com/?page=mentor1">get coaching</a></p>
		</section>
		<img src="./Kauffman Foundation   Will It Be You _files/slideMentor.png" alt="">
		<aside>
			<h2>Did you know</h2>
			<p>In 2010, U.S. entrepreneurs created approximately 565,000 new businesses per month, representing the highest level of entrepreneurial activity in 15 years. <a href="http://www.kauffman.org/newsroom/jobless-entrepreneurship-tarnishes-steady-rate-of-us-startup-activity.aspx" rel="external" target="_blank">Learn more.</a></p>
			<p class="button">Did You Know</p>
		</aside>			
	</article>

	<article id="mentor1" class="properties mentor" style="margin-left: 190px; margin-right: 190px; display: block;">
		<h1>Mentor</h1>
		<nav>
			<a class="next" href="http://willitbeyou.com/?page=mentor2">See More</a>
		</nav>
		<ul class="properties">
			<!-- li>
				<h2 class="kauffmanLabs">
	<img src="themes/superbowl/images/content/logo-kauffmanLabs.png" alt="Kauffman Labs" />
</h2>
<p>
	A new approach to developing the next generation of fast-growth firms, Labs teaches entrepreneurs in a lab setting, while studying the “science of startups” in the process.

</p>
<p class="more">
	<a href="http://www.kauffmanlabs.org" rel="external">Visit Site</a>
</p>	
			</li -->
             <li>
				<h2 class="1millioncups"><img src="./Kauffman Foundation   Will It Be You _files/logo-1millioncups-new.png" alt="1MillionCups"></h2>
<p>
	Engages Kansas City entrepreneurs through a weekly educational program in which regional startups present their companies to a diverse audience of mentors, advisors, and entrepreneurs.
</p>
<p class="more">
	<a href="http://www.1millioncups.com/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
            <li>
				<h2 class="istart">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-istart.png" alt="istart">
</h2>
<p>iStart is the go-to site for entering business competitions from around the world, browsing pages of startup ideas and networking with entrepreneurs.</p>
<p class="more">
	<a href="http://www.istart.org/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
			<li>
				<h2 class="kauffmanfasttrac">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-kauffmanFastTrac.png" alt="Kauffman FastTrac">
</h2>
<p>
	Practical, hands-on learning programs for entrepreneurs delivered by a variety of affiliate organizations in the U.S., around the world.

</p>
<p class="more">
	<a href="http://www.fasttrac.org/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
            	<li>
				<h2 class="KauffmanFoundersSchool">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-KauffmanFoundersSchool.png" alt="Kauffman Founders School">
</h2>
<p>
	Tapping the potential of online education, Founders School presents curriculum that enable entrepreneurs to learn anytime, anywhere, through a rich learning experience presented by subject matter experts.
</p>
<p class="more">
	<a href="http://www.kauffmanfoundersschool.org/" rel="external" target="_blank">Visit Site</a>
</p>
			</li>
			
            <li>
				<h2 class="icehouse">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-iceHouse.png" alt="The Ice House Entrepreneurship Program">
</h2>
<p>
	An online program that immerses participants in the fundamental concepts of an entrepreneurial mindset to empower learners and help them develop entrepreneurial skills.

</p>
<p class="more">
	<a href="http://www.whoownstheicehouse.com/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
		</ul>				
	</article>

	<article id="mentor2" class="properties mentor" style="margin-left: 190px; margin-right: 190px; display: block;">
		<h1>Mentor</h1>
		<nav>
			<a class="previous" href="http://willitbeyou.com/?page=mentor1">See <em>Previous</em></a>
            <a class="next" href="http://willitbeyou.com/?page=mentor3">See More</a>
		</nav>
		<ul class="properties">
				<li>
				<h2 class="InnovationFundAmerica">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-InnovationFundAmerica.png" alt="Innovation Fund America">
</h2>
<p>
	This innovative program empowers community colleges to support high-growth tech startups and entrepreneurs in their communities with seed-stage capital, high-impact mentorship, educational resources, and access to important networks.
</p>
<p class="more">
	<a href="http://www.innovationfundamerica.org/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
            <li>
				<h2 class="KhanAcademy">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-KhanAcademy.png" alt="Khan Academy">
</h2>
<p>
	Online interview, video series featuring personal lessons and insights from accomplished entrepreneurs, including tips, anecdotes, and personal characteristics.
</p>
<p class="more">
	<a href="http://www.khanacademy.org/r/entrepreneurship" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
			<li>
				<h2 class="pipeline">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-pipeline.png" alt="PIPELINE">
</h2>
<p>
	A nationally-acclaimed Midwest entrepreneurial “immersion” program and powerful network for innovative, high-growth entrepreneurs.

</p>
<p class="more">
	<a href="http://www.pipelineentrepreneurs.com/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
		   <li>
				<h2 class="StartupGenome">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-StartupGenome.png" alt="Startup Genome">
</h2>
<p>
	A worldwide network of volunteer curators creating a comprehensive database of local startup companies and entrepreneurs.
</p>
<p class="more">
	<a href="http://www.startupgenome.com/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
			<li>
				<h2 class="usSourceLink">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-usSourceLink.png" alt="U.S. SourceLink">
</h2>
<p>
	U.S.SourceLink is America's largest resource network for entrepreneurs, encompassing more than 5,000 entrepreneurial support organizations that serve established businesses and aspiring entrepreneurs.

</p>
<p class="more">
	<a href="http://www.ussourcelink.com/resources" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
          
            
		</ul>					
	</article>
    <article id="mentor3" class="properties mentor" style="margin-left: 190px; margin-right: 190px; display: block;">
		<h1>Mentor</h1>
		<nav>
			<a class="previous" href="http://willitbeyou.com/?page=mentor2">See <em>Previous</em></a>
		</nav>
		<ul class="properties">
        	<li>
				<h2 class="astia">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-astia.png" alt="Astia"></h2>
<p>
	A global not-for-profit organization that propels women’s full participation as entrepreneurs and leaders in high-growth businesses, fueling innovation and driving growth.

</p>
<p class="more">
	<a href="http://www.astia.org/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
              		<li>
				<h2 class="startupWeekend">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-startupWeek.png" alt="Startup Weekend">
</h2>
<p>
	This platform hosts 54-hour events at a grassroots level worldwide to educate aspiring entrepreneurs by immersing them in the process of moving an idea to market.

</p>
<p class="more">
	<a href="http://www.startupweekend.org/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
            </ul>
            </article>


	<!-- Capital slides -->
	<article id="capital" class="intro capital" style="margin-left: 190px; margin-right: 190px; display: block;">
		<section>
			<h1>Get Capitalized</h1>
			<p>Money is the fuel that drives any business, but there are many misconceptions about where startups get their operating capital. While we can't fund your startup, we can guide you to resources where you can learn more about "the money game."</p>
			<p class="more">Let us help you <a href="http://willitbeyou.com/?page=capital1">get capitalized</a></p>
		</section>
		<img src="./Kauffman Foundation   Will It Be You _files/slideCapital.png" alt="">	
		<aside>
			<h2>Did you know</h2>
			<p>Only about 16 percent of the fastest-growing private companies in the United States from 1997 to 2007 had venture capital backing. <a href="http://www.kauffman.org/what-we-do/research/2011/05/right-sizing-the-us-venture-capital-industry" rel="external" target="_blank">Learn more.</a></p>
			<p class="button">Did You Know</p>
		</aside>			
	</article>
	<article id="capital1" class="properties capital" style="margin-left: 190px; margin-right: 190px; display: block;">
		<h1>Capital</h1>
		<ul class="properties">
			<li>
				<h2 class="istart">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-istart.png" alt="istart">
</h2>
<p>iStart is the go-to site for entering business competitions from around the world, browsing pages of startup ideas and networking with entrepreneurs.</p>
<p class="more">
	<a href="http://www.istart.org/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
            	<li>
				<h2 class="InnovationFundAmerica">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-InnovationFundAmerica.png" alt="Innovation Fund America">
</h2>
<p>
	This innovative program empowers community colleges to support high-growth tech startups and entrepreneurs in their communities with seed-stage capital, high-impact mentorship, educational resources, and access to important networks.
</p>
<p class="more">
	<a href="http://www.innovationfundamerica.org/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
			<li>
				<h2 class="astia">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-astia.png" alt="Astia"></h2>
<p>
	A global not-for-profit organization that propels women’s full participation as entrepreneurs and leaders in high-growth businesses, fueling innovation and driving growth.

</p>
<p class="more">
	<a href="http://www.astia.org/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
			<li>
				<h2 class="angelResource">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-angelResourceInstitute.png" alt="Angel  Resource Institute">
</h2>
<p>
	Provides education, training, mentoring, and information on best practices in the field of angel investing to improve connections between angel investors and entrepreneurs.
</p>
<p class="more">
	<a href="http://www.angelcapitaleducation.org/" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
			<li>
				<h2 class="usSourceLink">
	<img src="./Kauffman Foundation   Will It Be You _files/logo-usSourceLink.png" alt="U.S. SourceLink">
</h2>
<p>
	U.S.SourceLink is America's largest resource network for entrepreneurs, encompassing more than 5,000 entrepreneurial support organizations that serve established businesses and aspiring entrepreneurs.

</p>
<p class="more">
	<a href="http://www.ussourcelink.com/resources" rel="external" target="_blank">Visit Site</a>
</p>	
			</li>
		</ul>
	</article>

			</section>
		</div>
{% endblock content %}
