
{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>Sobre Nosotros</h3>

        <h4>Rol Misional</h4>
        <p>Potenciar una cultura de emprendimiento e innovación como forma de pensar y actuar en la vida, asegurando la competitividad, liderazgo, formación y sostenibilidad de las nuevas empresas que se crean en el país.</p>

        <h4>Sueño Compartido</h4>
        <p>En el 2018, República Dominicana será un país emprendedor sustentado de un ecosistema institucional consolidado y dinámico, focalizado en la innovación, competitividad, accesibilidad y sostenibilidad, que estimule la creatividad y pasión de las personas emprendedoras.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h3>Ejes Estratégicos del Emprendimiento</h3>
        <div class="eje">
          <h4>1) Sistema Educativo</h4>
          <p>Es la modernización del sistema de formación para el emprendimiento a partir de políticas institucionales en colegios, institutos y universidades, así como el desarrollo de programas de creación de empresas, herramientas tecnológicas, metodologías de enseñanza y formación de formadores para el emprendimiento.</p>
          <h4>Objetivo</h4>
          <p>Apoyar el desarrollo de iniciativas educativas para el fomento del emprendimiento y el desarrollo de competencias emprendedoras.</p>
          <h4>Estrategia</h4>
          <ul>
            <li>Desarrollar programas para el fomento de la innovación y su vinculación con emprendimientos dinámicos y de alto impacto.</li>
            <li>Desarrollar programas educativos especializados dirigidos a docentes, emprendedores, inversionistas y estudiantes, entre otros; garantizando la accesibilidad e inclusión de los sectores nacionales. </li>
          </ul>
        </div>
        <div class="eje">
          <h4>2) Industria de Soporte</h4>
          <p>Entidades de apoyo al emprendimiento que se encargan de prestar asistencia técnica, acompañamiento y orientación empresarial para la sostenibilidad de las empresas desde la concepción de la iniciativa empresarial hasta la puesta en marcha de la empresa, expansión y consolidación.</p>
          <h4>Objetivo</h4>
          <p>Fortalecer el ecosistema de apoyo al emprendimiento, articulando los diferentes actores para lograr incidir en todas las fases del emprendimiento de forma eficiente y dinámica.</p>
          <h4>Estrategia</h4>
          <ul>
            <li>Crear y fortalecer instituciones que desarrollan procesos de incubación y aceleración de empresas, contribuyendo al desarrollo de las personas emprendedoras y al éxito de nuevas empresas.</li>
            <li>Desarrollar programas que fomenten los diferentes tipos de emprendimientos y la creación de empresas en diversos sectores acorde a las ventajas competitivas del país. </li>
          </ul>
        </div>
        <div class="eje">
          <h4>3) Articulación Institucional</h4>
          <p>Instancias de cooperación y acción colectiva entre las entidades públicas y privadas de apoyo al emprendimiento, que tienen como propósito el diseño e implementación de la política pública de emprendimiento, evitando duplicidad de programas, maximizando el impacto colectivo y cubriendo las fallas de mercado.</p>
          <h4>Objetivo</h4>
          <p>Propiciar la interacción y sinergia entre los actores del ecosistema a través de espacios de acción colectiva entre los actores públicos y privados del ecosistema nacional de emprendimiento.</p>
          <h4>Estrategia</h4>
          <ul>
            <li>Creación de la Red nacional de emprendimiento con mesas técnicas que diseñen y consoliden los proyectos necesarios para desarrollar los cincos ejes de la estrategia.</li>
            <li>Desarrollo de una Plataforma colaborativa e informativa que facilite la comunicación.</li>
          </ul>
        </div>
        <div class="eje">
          <h4>4) Mentalidad y Cultura</h4>
          <p>Es la manera de pensar y actuar frente al emprendimiento, transformando comportamientos, creencias, modelos mentales y paradigmas a favor de la creación de empresas como opción de vida, a partir de narrativas inspiracionales y aspiracionales en los ciudadanos del común.</p>
          <h4>Objetivo</h4>
          <p>Fomentar el pensamiento emprendedor en los ciudadanos para estimular la creación de empresas éticas y sostenibles, que contribuyan al crecimiento y desarrollo de la República Dominicana y el mundo.</p>
          <h4>Estrategia</h4>
          <ul>
            <li>Promover un modelo de pensamiento emprendedor en todos los dominicanos, para fomentar el desarrollo de competencias en los emprendedores que mejoren la tasa de éxitos de los emprendimientos. </li>
            <li>Promover en los medios de comunicación la importancia del emprendimiento.</li>
          </ul>
        </div>
        <div class="eje">
          <h4>5) Financiamiento</h4>
          <p>Instrumentos de financiación al emprendimiento a lo largo del proceso emprendedor, tales como capital pre-semilla, capital semilla, redes de ángeles inversionistas, microcrédito emprendedor, fondos de capital de riesgo en etapa temprana, fondos de inversión, entre otros.</p>
          <h4>Objetivo</h4>
          <p>Promover el desarrollo de la cadena de financiamiento a los emprendedores con mecanismos e instrumentos ágiles, dinámicos e innovadores, acordes a los distintos niveles de madurez del mercado.</p>
          <h4>Estrategia</h4>
          <ul>
            <li>Desarrollo de un conjunto de Normas y Políticas que incentiven la creación de mecanismos e instrumentos de financiación a emprendedores.</li>
            <li>Crear y articular instrumentos financieros adaptados a las diferentes etapas del proceso emprendedor que atiendan los emprendimientos por subsistencia, tradicional, dinámico y de alto impacto. </li>
          </ul>

          <a href="http://mic.gob.do/media/16396/Estrategia%20de%20Emprendimiento_Rep%C3%BAblica%20Dominicana.pdf">Documento de la Estrategia</a>


        </div>


      </div>
    </div>
  </div>
</div>



{% endblock content %}
