
{% extends "base.html" %}

{% load staticfiles %}

{% block content %}


<div class="calendar">
  <div class="container">
    <div class="row">
      <div class="calendar-header">
        <div class="col-sm-3">
            <h1>Calendario</h1>
          </div>
          {% if user.is_authenticated %}
          <div class="col-sm-5">
            <a href="/dashboard/" class="btn btn-primary">Agregar Evento</a>
          </div>
          {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">

        <div>
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#upcoming-events" aria-controls="upcoming-events" role="tab" data-toggle="tab">Próximos Eventos</a></li>
            <li role="presentation"><a href="#past-events" aria-controls="past-events" role="tab" data-toggle="tab">Eventos Pasados</a></li>
          </ul>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="upcoming-events">
            {% for event in events %}

                <div class="event-box">
                <div class="row">
                  <div class="col-sm-2 text-center">
                    <div class="event-day-box ">
                      <h3>{{ event.from_date|date:"M" }}</h3>
                      <h2>{{ event.from_date|date:"d" }}</h2>
                    </div>
                  </div>
                  <div class="col-sm-10">
                    <div class="event-info-box">
                      <a href="/profile/{{ event.organization.slug }}"><h4>{{ event.organization.name }}</h4></a>
                      <a href=""><h3>{{ event.name }}</h3></a>
                      <p>
                        <span style="margin-right:20px;"><b>Costo:</b> {{ event.cost }}</span>
                        <span ><b>Categorías:</b>
                          {% for category in event.categories.all %}
                                <span class="category-tag">
                                  <a href="/calendar/{{ category.name }}/">{{ category.name }}</a>
                                </span>
                          {% endfor %}
                        </span>
                      </p>
                      <p><b>Descripción:</b> <br> {{ event.description }}</p>
                    </div>
                  </div>
                </div>

                </div>

          {% endfor %}

            {% if events %}
            <nav class="text-center">
                <ul class="pagination">
                    {% if events.has_previous %}
                    <li>
                        <a href="?page={{ events.previous_page_number }}">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% endif %}

                    <li><a href="#"><span class="current">{{ events.number }}</span></a></li>

                    {% if events.has_next %}
                    <li>
                        <a href="?page={{ events.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    {% endif %}

                </ul>
            </nav>
            {% endif %}

            </div>
            <div role="tabpanel" class="tab-pane" id="past-events">
            {% for event in past_events %}

                <div class="event-box">
                <div class="row">
                  <div class="col-sm-2 text-center">
                    <div class="event-day-box ">
                      <h3>{{ event.from_date|date:"M" }}</h3>
                      <h2>{{ event.from_date|date:"d" }}</h2>
                    </div>
                  </div>
                  <div class="col-sm-10">
                    <div class="event-info-box">
                      <a href="/profile/{{ event.organization.slug }}"><h4>{{ event.organization.name }}</h4></a>
                      <a href=""><h3>{{ event.name }}</h3></a>
                      <p>
                        <span style="margin-right:20px;"><b>Costo:</b> {{ event.cost }}</span>
                        <span ><b>Categorías:</b>
                          {% for category in event.categories.all %}
                                <span class="category-tag">
                                  <a href="/calendar/{{ category.name }}/">{{ category.name }}</a>
                                </span>
                          {% endfor %}
                        </span>
                      </p>
                      <p><b>Descripción:</b> <br> {{ event.description }}</p>
                    </div>
                  </div>
                </div>

                </div>

          {% endfor %}

            {% if past_events %}
            <nav class="text-center">
                <ul class="pagination">
                    {% if past_events.has_previous %}
                    <li>
                        <a href="?page={{ past_events.previous_page_number }}">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% endif %}

                    <li><a href="#"><span class="current">{{ events.number }}</span></a></li>

                    {% if past_events.has_next %}
                    <li>
                        <a href="?page={{ past_events.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    {% endif %}

                </ul>
            </nav>
            {% endif %}

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>




{% endblock content %}
