
{% extends "base.html" %}

{% load staticfiles %}

{% block content %}


<div class="calendar">
  <div class="container">
    <div class="row">
      <div class="calendar-header">
        <div class="col-sm-3">
            <h1>Calendario</h1>
          </div>
          <div class="col-sm-4">
           <h3 class="month"><i class="fa fa-arrow-left"></i> Junio <i class="fa fa-arrow-right"></i> </h3>
          </div>
          {% if user.is_authenticated %}
          <div class="col-sm-5">
            <a href="/dashboard/" class="btn btn-primary">Agregar Evento</a>
          </div>
          {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
         {% if events %}
            <table class="table">
              <tr>
                <th>Nombre</th>
                <th>Categorias</th>
                <th>Inicia</th>
                <th>Termina</th>
                <th>Costo</th>
                <th>Descripción</th>
              </tr>
              {% for event in events %}
                <tr>
                  <td><a href="{{ event.url }}">{{ event.name }}</a></td>
                  <td>
                    {% for category in event.categories.all %}
                    <span class="category-tag">
                      {{ category.name }}
                    </span>
                    {% endfor %}
                  </td>
                  <td> {{ event.from_date }}</td>
                  <td> {{ event.to_date }}</td>
                  <td> {{ event.cost }}</td>
                  <td><a class="show-description">{{ event.description|truncatechars:9 }}</a></td>
                </tr>
                <tr id="description-{{ event.id }}" class="description-row">
                  <td colspan="5">{{ event.description }}</td>
                </tr>
              {% empty %}
              No hay eventos creados aun
              {% endfor %}
            </table>
          {% endif %}
          {% if events %}
            <nav class="text-center">
                <ul class="pagination">
                    {% if events.has_previous %}
                    <li>
                        <a href="?page={{ events.previous_page_number }}">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% endif %}

                    <li><a href="#"><span class="current">{{ events.number }}</span></a></li>
                    
                    {% if events.has_next %}
                    <li>
                        <a href="?page={{ events.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    {% endif %}
                    
                </ul>
            </nav>
            {% endif %}

      </div>
    </div>
  </div>
</div>




{% endblock content %}
