
{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="calendar">
  <div class="container">
   <div class="calendar-header">
       <div class="row">
     
         <div class="col-sm-3">
            <h1>Calendario</h1>
          </div>
          <div class="col-sm-4">
           <h3 class="month"><i class="fa fa-arrow-left"></i> Junio <i class="fa fa-arrow-right"></i> </h3>
          </div>
          {% if user.is_authenticated %}
          <div class="col-sm-5">
            <a href="/dashboard/" class="btn btn-primary">Agregar Evento</a>
          </div>
          {% endif %}
      </div>
      {% if events %}
      <table>
        <tr>
          <th>Nombre</th>
          <th>Categorias</th>
          <th>Inicia</th>
          <th>Termina</th>
          <th>Costo</th>
          <th>URL</th>
        </tr>
        {% for event in events %}
          <tr>
            <td>{{ event.name }}</td>
            <td>{% for category in event.categories.all %} {{ category.name }} {% endfor %}</td>
            <td> {{ event.from_date }}</td>
            <td> {{ event.to_date }}</td>
            <td> {{ event.cost }}</td>
            <td> {{ event.url }}</td>
          </tr>
        {% empty %}
        No hay eventos creados aun
        {% endfor %}
      </table>
      {% endif %}
    </div>
  </div><!-- /container -->
</div><!-- /companies -->
            {% if events %}
            <nav>
                <ul class="pagination">
                    {% if events.has_previous %}
                    <li>
                        <a href="?page={{ events.previous_page_number }}">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% endif %}

                    <li><a href="#"><span class="current">{{ events.number }}</span></a></li>
                    
                    {% if events.has_next %}
                    <li>
                        <a href="?page={{ events.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    {% endif %}
                    
                </ul>
            </nav>
            {% endif %}


{% endblock content %}
