
{% extends "base.html" %}

{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}/css/chosen.css">
<link rel="stylesheet" href="{{ STATIC_URL }}/datepicker/datepicker3.css">
{% endblock extra_css %}

{% block content %}

  <div class="container">

    <div class="row">
      <div class="col-sm-12 ">
        <div class="dashboard-tabs">
          <div role="tabpanel" >
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation"  class="active">
                <a href="#events" aria-controls="events" role="tab" data-toggle="tab">Eventos</a>
              </li>
              <li role="presentation">
                <a href="#users-list" aria-controls="home" role="tab" data-toggle="tab">Usuarios</a>
              </li>
              <li role="presentation">
                <a href="#perfil" aria-controls="home" role="tab" data-toggle="tab">Perfil</a>
              </li>
              <li role="presentation">
                <a href="#change-password" aria-controls="change-password" role="tab" data-toggle="tab">Cambiar Contrase&ntilde;a</a>
              </li>
              {% if request.user.is_admin %}
              <li role="presentation">
                <a href="#approval" aria-controls="approval" role="tab" data-toggle="tab">Nuevas Organizaciones</a>
              </li>
              {% endif %}
            </ul>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="events">
              <div class="row">
                <div class="col-sm-12">
                  <a class="btn btn-primary" id="event-form-btn">Crear Evento</a>
                  <div id="event-form">
                    <form class="form-horizontal" action="/accounts/create_event/" method="POST">
                      {% csrf_token %}
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label class="control-label col-sm-2">T&iacute;tulo</label>
                            <div class="col-sm-10">
                              {{ event_form.name }}
                            </div><!-- /col-sm -->
                          </div><!-- /form-group -->
                        </div><!-- /col-sm -->
                        
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label class="control-label col-sm-2">Categor&iacute;as</label>
                            <div class="col-sm-10">
                                {{ event_form.categories }}
                            </div><!-- /col-sm -->
                          </div><!-- /form-group -->
                        </div><!-- /col-sm -->

                        <div class="col-sm-6">

                        <div class="form-group">
                            <label class="control-label col-sm-4">Inicia</label>
                            <div class="col-sm-8">
                                {{ event_form.from_date }}
                            </div><!-- /col-sm -->
                        </div><!-- /form-group -->

                      </div>

                      <div class="col-sm-6">

                        <div class="form-group">
                            <label class="control-label col-sm-3">Termina</label>
                            <div class="col-sm-9">
                                {{ event_form.to_date }}
                            </div><!-- /col-sm -->
                        </div><!-- /form-group -->

                      </div>

                      <div class="col-sm-6">

                        <div class="form-group">
                            <label class="control-label col-sm-4">Costo</label>
                            <div class="col-sm-8">
                                {{ event_form.cost }}
                            </div><!-- /col-sm -->
                        </div><!-- /form-group -->

                      </div>

                      <div class="col-sm-6">

                        <div class="form-group">
                            <label class="control-label col-sm-3">Web</label>
                            <div class="col-sm-9">
                                {{ event_form.url }}
                            </div><!-- /col-sm -->
                        </div><!-- /form-group -->

                      </div>


                    </div><!-- /col-sm -->
                    <div class="col-sm-6">
                      <label>Descripci&oacute;n</label>
                          {{ event_form.description }}
                    </div>

                    <div class="col-sm-12">
                      <button class="btn btn-primary pull-right" type="submit">Enviar</button>
                    </div>

                    </div><!-- /row -->

                    
                    </form>
                  </div><!-- /event-form -->
                </div><!-- /col-sm -->
              </div><!-- /row-->

              <div class="row">
                <div class="col-sm-12">
                  {% if events %}
                    <table class="table">
                      <tr>
                        <th></th>
                        <th>T&iacute;tulo</th>
                        <th>Categor&iacute;as</th>
                        <th>Inicia</th>
                        <th>Termina</th>
                        <th>Costo</th>
                        <th>Descripción</th>
                      </tr>

                      {% for event in events %}
                      <div class="event-row">
                        <tr id="event-{{ event.id }}">
                          <td><button type="button" data-id="{{ event.id }}" class="close delete-event" aria-label="close"><span aria-hidden="true">&times;</span></button></td>
                          <td><a>{{ event.name }}</a></td>
                          <td>
                            {% for category in event.categories.all %}
                            <span class="category-tag">
                              {{ category.name }}
                            </span>
                            {% endfor %}
                          </td>
                          <td>{{ event.from_date }}</td>
                          <td>{{ event.to_date }}</td>
                          <td>{{ event.cost }}</td>
                          <td><a class="show-description">{{ event.description|truncatechars:9 }}</a></td>
                        </tr>
                        <tr id="description-{{ event.id }}" class="description-row">
                          <td></td>
                          <td colspan="5">{{ event.description }}</td>
                        </tr>
                      </div>
                      {% endfor %}
                    </table>
                    {% else %}
                    <div class="empty text-center">
                      <p>No hay eventos</p>
                      <a href="" class="btn btn-primary">Crear evento</a>
                    </div>
                    {% endif %}
                  </div><!-- /col-sm-12 -->
              </div><!-- /row -->
            
            </div><!-- /tab-panel -->

            <div role="tabpanel" class="tab-pane" id="users-list">
              <div class="row">
                <div class="col-sm-12">
                  <button class="btn btn-primary" id="add-new-user-btn">Agregar Usuario</button>

                  <div id="add-new-user-form">
                    <form class="form-horizontal" method="POST">
                      {% csrf_token %}
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label class="col-sm-4 control-label">Nombre Completo</label>
                            <div class="col-sm-8">
                              <input class="form-control">
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                              <input class="form-control">
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-12">
                          <button class="btn btn-primary pull-right" type="submit">Agregar</button>
                        </div>
                      </div>
                      
                    </form>
                  </div>

                </div>
                <div class="col-sm-12">
                {% if users %}
                  <table class="table">
                    <tr>
                      <th></th>
                      <th>Nombre Completo</th>
                      <th>Email</th>
                    </tr>
                    <tr>
                    {% for user in org_users %}
                      <td><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
                      <td>Vivian</td>
                      <td>vivian@viviangb.com</td>
                    {% endfor %}
                    </tr>
                  </table>
                {% endif %}
                </div>
              </div>
            </div><!-- /tab-panel -->

            <div role="tabpanel" class="tab-pane" id="perfil">
                <div class="change-profile">
                  <div class="row">
                    <div class="col-sm-4">

                      <form action="/accounts/picture/" method="POST" enctype="multipart/form-data" id="id_picture_form">
                      {% csrf_token %}
       
                        <div id="id_user_pic" class="center-block">
             
                            {% if organization.logo %}
                                <img src="{{ organization.logo.url }}" >
                            {% else %}
                                <img src="{{ STATIC_URL }}img/companies/default.jpg">
                            {% endif %}


                            <div id="camera">
                              <i class="fa fa-camera"></i>
                            </div>
                        </div>

                      <div id="picture-hidden">
                        {{ organization_picture_form.picture }}
                      </div>

                     </form>
                    </div><!-- /col -->

                    <div class="col-sm-8">
                      <form class="form-horizontal" action="." method="POST">
                      {% csrf_token %}
                        <div class="col-sm-5">
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Nombre</label>
                            <div class="col-sm-9">
                              {{ organization_form.name }}
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Tel&eacute;fono</label>
                            <div class="col-sm-9">
                              {{ organization_form.phone }}
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Web</label>
                            <div class="col-sm-9">
                              {{ organization_form.url }}
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-7">
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Direcci&oacute;n</label>
                            <div class="col-sm-9">
                              {{ organization_form.address }}
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Provincia</label>
                            <div class="col-sm-9">
                              {{ organization_form.province }}
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Categor&iacute;as</label>
                            <div class="col-sm-9">
                              {{ organization_form.categories }}
                            </div>
                          </div>
                        </div><!-- /col-sm -->
                        <div class="col-sm-12">
                          <label class=" control-label">Descripci&oacute;n</label>
                          {{ organization_form.description }}
                           <button class="btn btn-success pull-right" type="submit">Actualizar</button>
                        </div>

                      </form>
                    </div><!-- /col-sm -->
                  </div><!-- /row -->
                </div><!-- /change-profile -->
            </div><!-- /tab-panel -->
            {% if user.is_admin %}
            <div role="tabpanel" class="tab-pane" id="approval">

              {% for new_org in new_orgs %}
              <div class="new-org" id="org-{{ new_org.id }}" >
                <div class="row">
                  <div class="col-sm-4">

                    {% if new_org.logo %}
                        <img src="{{ organization.logo.url }}" >
                    {% else %}
                        <img src="{{ STATIC_URL }}img/companies/default.jpg">
                    {% endif %}
                  </div>
                  <div class="col-sm-8">

                    <div class="row">
                      <div class="new-org-field">
                        <div class="col-sm-2">
                           <label>Nombre</label>
                        </div>
                        <div class="col-sm-10">
                          {{ new_org.name }}
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="new-org-field">
                        <div class="col-sm-2">
                           <label>Direcci&oacute;n</label>
                        </div>
                        <div class="col-sm-10">
                          {{ new_org.address }}
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="new-org-field">
                        <div class="col-sm-2">
                           <label>Tel&eacute;fono</label>
                        </div>
                        <div class="col-sm-4">
                          {{ new_org.phone }}
                        </div>
                      </div>
                      <div class="new-org-field">
                        <div class="col-sm-2">
                           <label>Provincia</label>
                        </div>
                        <div class="col-sm-4">
                          {{ new_org.province }}
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="new-org-field">
                        <div class="col-sm-2">
                           <label>Web</label>
                        </div>
                        <div class="col-sm-4">
                          {{ new_org.url }}
                        </div>
                      </div>
                      <div class="new-org-field">
                        <div class="col-sm-2">
                           <label>Categor&iacute;as</label>
                        </div>
                        <div class="col-sm-4">
                          {% for category in new_org.categories.all %}
                            <span class="category-tag">
                                {{ category.name }}                              
                            </span>
                          {% endfor %}
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="col-sm-12">
                    <div class="new-org-field">
                        <div class="col-sm-2">
                           <label>Descripci&oacute;n</label>
                        </div>
                        <div class="col-sm-10">
                          {{ new_org.description }}
                        </div>
                      </div>

                      <button class="btn btn-primary pull-right new-organization" data-organization-id="{{ new_org.id }}">Aprobar</button>
                  </div>

                </div><!-- /row -->
              </div><!-- /new-org -->
              {% empty %}
              <div class="empty">
                <p class="text-center">No hay organizaciones por aprobar</p>
              </div>
              {% endfor %}
            </div><!-- /tab-panel -->
            {% endif %}
            <div role="tabpanel" class="tab-pane" id="change-password">
              <div class="row">
                <div class="col-sm-12">
                  <form method="POST" action="/accounts/password_change/" id="password-change-form" class="form-horizontal">
                    {% csrf_token %}
                    <div class="alert alert-danger hidden" id="change_error_message" role="alert"></div>
                    <div class="alert alert-success hidden" id="change_success_message" role="alert">La contrase&ntilde;a ha sido cambiada</div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Nueva Contraseña</label>
                      <div class="col-sm-4">
                        {{ password_form.new_password1 }}
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Confirmar Nueva Contraseña</label>
                      <div class="col-sm-4">
                        {{ password_form.new_password2 }}
                      </div>
                    </div>
                    <div class="form-group">
                      <button class="btn btn-primary pull-right" id="password-change" type="submit" >Guardar</button>
                    </div>
                 </form>
                </div>
              </div>
              
       
            </div><!-- /tabpanel -->

          </div><!-- /tab-content -->

        </div><!-- /tabpanel -->
      </div><!-- /dashboard-tabs -->
        
    </div><!-- /col-sm-12 -->
  </div><!-- /row -->
</div><!-- /container -->

{% endblock content %}

{% block extra_js %}
  <script type="text/javascript" src="{{ STATIC_URL }}/js/chosen.jquery.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}/datepicker/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}/datepicker/bootstrap-datepicker.es.js"></script>
  <script>
  {# Here goes the code for using the categories as a selectpicker#}
  $(document).ready(function(){
    $('.event-category, .organization-category').chosen(
      {
        width:'100%',
      }
    );
  });
  </script>

  <script type="text/javascript">
  $('#id_from_date, #id_to_date').datepicker({
      format: "yyyy-mm-dd",
      language: "es",
      todayHighlight: true
    });
  </script>
<script>
var delete_event = $('.delete-event');
delete_event.click(function(event){
  event.preventDefault();

  var event_deletion = confirm("Estas seguro que deseas borrar este evento?");

  if(event_deletion == true){
    var event_id = this.dataset.id;

    $.ajax({
      url: '/accounts/delete_event/'+ event_id + '/',
      type: 'POST',
      data: {csrfmiddlewaretoken:'{{csrf_token}}' },
      success:
        function(result){
        if( result.is_deleted == true){
        // on success the element and the comment must be deleted
          var event_div = document.querySelector('#event-' + event_id );
          var event_desc = document.querySelector('#description-' + event_id );
          event_div.parentNode.removeChild(event_div);
          event_desc.parentNode.removeChild(event_desc);
        }else{
         alert('El evento no ha podido ser borrado');
        }
      },
      error:
        function(){
          alert('El servidor presenta un error intentelo mas tarde.');
      },
    });

  }else{
    return false;
  }
});

var new_orgs = $('.new-organization');
    new_orgs.click(function(event){
      event.preventDefault();
      var organization_id = this.dataset.organizationId;

      $.ajax({
        url: '/accounts/approve/'+ organization_id + '/',
        type: 'POST',
        data: {csrfmiddlewaretoken:'{{csrf_token}}' },
        success:
          function(result){
          if( result.is_approved == true){
          // on success the element and the comment must be deleted
          var org = document.querySelector('#org-' + organization_id );
          org.parentNode.removeChild(org);

          }else{
             alert('El evento no ha podido ser borrado');
          }
        },
        error:
          function(){
            alert('El servidor presenta un error intentelo mas tarde.');
        },
      });

    });
</script>
{% endblock extra_js %}
