{% extends 'base.html' %}	

{% load staticfiles %}

{% block extra_css %}
    <link href="{% static 'datepicker/datepicker3.css' %}" rel="stylesheet">
    <link href="{% static 'css/sweet-alert.css' %}" rel="stylesheet">
    <link href="{% static 'selectize/css/selectize.default.css' %}" rel="stylesheet">
{% endblock extra_css %}			


{% block extra_js %}
    <script src="{% static 'datepicker/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/sweet-alert.js' %}"></script>

{% endblock extra_js %}


{% block content %}

	<div class="col-sm-9 main">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="profile text-center">

					<figure class="effect-oscar">
						<img src="{% static 'img/stock.jpg' %}" alt="img08"/>
						<figcaption>
							<p>Cambiar foto organización</p>
							<a href="#">View more</a>
						</figcaption>			
					</figure>

				</div>
			</div>

			<div class="col-sm-8">
				<div class="profile-forms">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
					  <li class="active passive"><a href="#event" role="tab" data-toggle="tab">Evento</a></li>
					  <li class="passive"><a href="#company" role="tab" data-toggle="tab">Organización</a></li>
					  <li class="passive"><a href="#user" role="tab" data-toggle="tab">Usuario</a></li>

					</ul>

					<!-- Tab panes -->
					<div class="tab-content">

					  <div class="tab-pane active" id="event">
					  	<div class="row">
					  		<div class="col-sm-12">
					  			<form class="form-horizontal" action="." method="post" id="event_form">
					  				{% csrf_token %}
					  				<div class="col-sm-12">
					  				{{ event_form.errors }}
					  					<div class="form-group">
					  						<label class="col-sm-2 control-label">Titulo</label> 
							                <div class="col-sm-10">
							                   {{event_form.name}}
							                </div>
					  					</div>
					  					<div class="form-group">
					  						<label class="col-sm-2 control-label">Descripcion</label> 
							                <div class="col-sm-10">
							                   {{event_form.description}}
							                </div>
					  					</div>
					  				</div>
					  				<div class="col-sm-6">
					  					<div class="form-group">
						  					<label class="col-sm-4 control-label">Inicia</label> 
							                <div class="col-sm-8">
								                <div class="input-group">
				  									{{event_form.from_date}}
				  									<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
				  								</div>
							                </div>
						                </div>
					  				</div>
					  				<div class="col-sm-6">
					  					<div class="form-group">
						  					<label class="col-sm-4 control-label">Termina</label> 
							                <div class="col-sm-8">
								                <div class="input-group">
				  									{{event_form.to_date}}
				  									<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
				  								</div>
							                </div>
						                </div>
					  				</div>
									<div class="col-sm-12">
							        	<button type="submit" class="btn btn-primary pull-right">Enviar</button>
							        </div>
					  			</form>
					  		</div>
					  	</div>
					  </div>

					  <div class="tab-pane" id="company">
					  	<div class="row">
					  		<div class="col-sm-12">
					  			<form class="form-horizontal" action="." method="post">
					  			{% csrf_token %}
					  				<div class="col-sm-6">
                        		{{ organization_form.errors }}
								  		<div class="form-group">
							                <label class="col-sm-4 control-label">Nombre</label>
							                <div class="col-sm-8">
							                   {{organization_form.name}}
							                </div>
							            </div>
							        </div><!-- col-sm-6 -->
							        <div class="col-sm-6">
								  		<div class="form-group">
							                <label class="col-sm-4 control-label">Web</label>
							                <div class="col-sm-8">
							                   {{organization_form.url}}
							                </div>
							            </div>
							        </div><!-- col-sm-6 -->
							        <div class="col-sm-6">
								  		<div class="form-group">
							                <label class="col-sm-4 control-label">Provincia</label>
							                <div class="col-sm-8">
							                  {{organization_form.province}}
							                </div>
							            </div>
							        </div><!-- col-sm-6 -->
							        <div class="col-sm-6">
								  		<div class="form-group">
							                <label class="col-sm-4 control-label">Teléfono</label>
							                <div class="col-sm-8">
							                  {{organization_form.phone}}
							                </div>
							            </div>
							        </div><!-- col-sm-6 -->
							       	<div class="col-sm-12">
						
								  		<div class="form-group">
							                <label class="col-sm-2 control-label">Dirección</label>
							                <div class="col-sm-10">
							                  {{organization_form.address}}
							                </div>
							            </div>

							            <div class="form-group">
							                <label class="col-sm-2 control-label">Descripción</label>
							                <div class="col-sm-10">
							                  {{organization_form.description}}
							                </div>
							            </div>
                          				<div class="form-group">
							                <label class="col-sm-2 control-label">Categorias</label>
							                <div class="col-sm-10">
							                  {{organization_form.categories}}
							                </div>
							            </div>
							        </div><!-- col-sm-12 -->
							        <div class="col-sm-12">
							        	<button type="submit" class="btn btn-primary pull-right">Enviar</button>
							        </div>
							 	</form>
					  		</div>
					  	</div><!-- row -->
					  </div><!-- #company -->
					  <div class="tab-pane" id="user">
					  	<div class="row">
					  		<div class="col-sm-12">
					  			<form class="form-horizontal" action="/user_validation/" method="post">
					  			{% csrf_token %}
					  				<div class="col-sm-6">
					  				{{ user_form.errors }}
								  		<div class="form-group">
							                <label class="col-sm-4 control-label">Nombre</label> 
							                <div class="col-sm-8">
							                   {{user_form.full_name}}
							                </div>
							            </div>
							        </div><!-- col-sm-6 -->
							        <div class="col-sm-6">
								  		<div class="form-group">
							                <label class="col-sm-4 control-label">Email</label> 
							                <div class="col-sm-8">
							                   {{user_form.email}}
							                </div>
							            </div>
							        </div><!-- col-sm-6 -->
							        <div class="col-sm-12">
							        	<button type="submit" class="btn btn-primary pull-right">Enviar</button>
							        </div>
							    </form>
							</div>
						</div>
					  </div>
					</div><!-- tab-content -->
				</div><!-- profile-forms -->
			</div><!-- col-sm-8 -->
		</div><!-- row -->
		
		<div class="row">
	  		<div class="col-sm-12">
	  			<div class="events-table">

		  			<table class="table" id="events-table">

		  				<thead>
			  				<tr>
			  					<th></th>
			  					<th>Título</th>
			  					<th>Descripción</th>
			  					<th>Inicia</th>
			  					<th>Termina</th>
			  				</tr>
		  				</thead>
		  				<tbody>
               {% if events %}
                   {% for event in events %}
		      			<tr id="event-{{ event.id }}">
	                      <td><a class="delete_event" data-event-id="{{ event.id }}"><i class="fa fa-times"></i></a></td>
	                      <td>{{ event.name }}</td>
	                      <td>{{ event.description }}</td>
	                      <td>{{ event.from_date }}</td>
	                      <td>{{ event.to_date }}</td>
		  				</tr>
                    {% endfor %}
                {% else %}
                    <tr>
                      <td colspan="5" style="text-align: center;">No has creado ningun evento aun</td>
                    </tr>
                {% endif %}
		  				</tbody>
		  			</table>
	  			</div>
	  		</div>	
	  	</div>
	</div><!-- container -->
	</div>
  <script type="text/javascript">
    var link = $('#submit_event');

    link.click(
          function(event){
              //eliminate the default function
              event.preventDefault();
              $.ajax({
                url: '/event_creation/{{ request.user.organization.id }}/',
                  data:  $('#event_form').serialize(),
                  type: "POST",
                  success:
                      function(result){
                        $('#event_form').trigger('reset');
                        $('#events-table tbody').append(
                        '<tr id="event-'+ result.id + '"><td><a class="delete_event" data-event-id="'+ result.id + '"><i class="fa fa-times"></i></a></td><td>'+ result.name + '</td><td>' + result.description + '</td><td>'+ result.from + '</td><td>' + result.to + '</td></tr>');
                      },
                  error:
                      function(xhr){
                          $('#alert-red').removeClass('hidden');
                          $('#alert-green').addClass('hidden');
                      }
              });
      });

    var delete_event = $('.delete_event');
    delete_event.click(
        function(event){
        	
        //eliminate the default function
        var id = $(this).data("event-id");
        event.preventDefault();
        //get the data from the link when clicked; data = ["type_deletion","id","company_name"]*company comes by default
			  swal({
			  title: "¿Estas seguro?",
			  text: "Estas a punto de borrar este evento",
			  type: "warning",
			  showCancelButton: true,
			  confirmButtonClass: "btn-danger",
			  confirmButtonText: "Si, borrar",
			  cancelButtonText: "No, cancelar",
			  closeOnConfirm: false,
			  closeOnCancel: false
			},
			function(isConfirm) {
			  if (isConfirm) {	
	            $.ajax({
	                url: "/event_deletion/" + id +"/",
	                success:
	                    function(result){
	                        $("#event-"+id).remove();
	                        swal("Borrado", "Este evento ha sido borrado", "success");
	                    },
	                error:
	                    function(){
	                        alert("We are experiencing problems wit error, please try again later");
	                    }
	            });
			  } else {
			    swal("Cancelado", "", "error");
			  }
			});
            });
  </script>
{% endblock content %}

