{% extends 'base.html' %}				

{% block content %}

	<div class="col-sm-9 main">
		<div class="container">
			<div class="col-sm-12">
				<h1>Inspira</h1>
				<p>Thinking about taking the entrepreneurial leap? There are people and programs that can provide encouragement and real-world support as you follow your dream. Learn about resources available to offer the inspiration and practical skills you need.</p>
        {% for organization in organizations %}
            <div class="col-sm-4">
		    			<div class="company">
                {% if organization.logo %}
                <img src="{{ organization.logo.url }}" width="{{ organization.logo.width }}" height="{{ organization.logo.height }}">
                {% else %}
                 {{ organization.name }}
                {% endif %}
                <p>{{ organization.description  }}</p>
                <a href="{{ organization.url }}" class="btn btn-danger btn-lg btn-block">Visita</a>
				    	</div>
				    </div><!-- col-sm-4 -->
        {% endfor %}


			</div>
		</div>
	</div>
	
{% endblock content %}
