
{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="companies">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center">Instituciones que Inspiran</h1>
      </div>
      {% for organization in organizations %}
      <div class="col-sm-4">
        <div class="company text-center">
          <img src="{{ organization.get_picture_url }}">
          <h2>{{ organization.name }}</h2>
          <p>{{ organization.description }}</p>
          {% if organization.url %}
          <a href="/profile/{{ organization.slug }}/" class="btn btn-lg btn-success">Ver m&aacute;s</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
{% endblock content %}
