
{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ organization.name }}{% endblock title %}
{% block content %}


<div class="profile">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="profile-box text-center">
          <h1>Perfil Institucional</h1>
          <img src="{{ organization.get_picture_url }}">
          <h3>{{ organization.name }}</h3>
          {% if organization.description %}
          <p>{{ organization.description }}</p>
          {% endif %}
          <div class="profile-links">
            <table class="table">
              <tr>
                <th>Contacto</th>
                <td>{{ profile.full_name }}</td>
              </tr>
              <tr>
                <th>Teléfono</th>
                <td>{{ organization.phone }}</td>
              </tr>
              <tr>
                <th>Email</th>
                <td><a href="mailto:{{ profile.email }}">{{ profile.email }}</a></td>
              </tr>
              <tr>
                <th>Website</th>
                <td>
                  {% if organization.url  %}
                  <a href="{{ organization.url }}" target="_blank">{{ organization.url }}</a>
                  {% endif %}
                </td>
              </tr>
            </table>
            {% if profile == request.user %}
            <a href="/dashboard/" class="btn btn-primary btn-profile btn-block">Editar perfil</a>
            {% endif %}
          </div><!-- /profile-links -->
        </div><!-- /profile-box -->
      </div><!-- /col-sm-8 -->
      <div class="col-sm-8">
      <div class="col-sm-4">
        <h1>Eventos</h1>
      </div>
      <div class="col-sm-8">
        {% if profile == request.user %}
            <a href="/dashboard/" class="btn btn-primary btn-event">Crear evento</a>
         {% endif %}
      </div>
        <div class="col-sm-12">
           {% if events %}
              <table class="table">
                <tr>
                  <th>Título</th>
                  <th>Categorías</th>
                  <th>Inicia</th>
                  <th>Termina</th>
                  <th>Costo</th>
                </tr>

                {% for event in events %}
                <tr>
                  <td>{{ event.name }}</td>
                  <td>
                    {% for category in event.categories.all %}
                      {{ category.name }}
                    {% endfor %}
                  </td>
                  <td>{{ event.from_date }}</td>
                  <td>{{ event.to_date }}</td>
                  <td>{{ event.cost }}</td>
                </tr>
                <tr>
                  <td colspan="5">{{ event.description }}</td>
                </tr>
                {% endfor %}
              </table>
          {% endif %}
        </div>
      </div>
    </div>
  </div><!-- /container -->
</div><!-- /companies -->


{% endblock content %}
