
{% extends "base.html" %}

{% load staticfiles %}

{% block content %}


<div class="profile">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="profile-box text-center slideRightX">
          <h1>Perfil Institucional</h1>
          <img src="{{ STATIC_URL }}/img/companies/inspire/inspire.jpg" class="img-circle company-clear">
          <h2>Inspire</h2>
          <p>Inspire busca ser el referente en Latinoamérica de transformación, a través del desarrollo de las capacidades individuales y organizacionales.</p>
          <div class="profile-links">
            <table class="table">
              <tr>
                <th>Contacto</th>
                <td>Xiomara Frías</td>
              </tr>
              <tr>
                <th>Teléfono</th>
                <td>829-342-7009</td>
              </tr>
              <tr>
                <th>Email</th>
                <td><a href="mailto:xfrias23@gmail.com">xfrias23@gmail.com</a></td>
              </tr>
              <tr>
                <th>Website</th>
                <td><a href="http://www.beinspirednow.biz" target="_blank">beinspirednow.biz</a></td>
              </tr>
            </table>
            <a href="" class="btn btn-primary btn-profile btn-block">Editar perfil</a>
          </div><!-- /profile-links -->
        </div><!-- /profile-box -->
      </div><!-- /col-sm-8 -->
      <div class="col-sm-8 slideLeftX">
      <div class="col-sm-4">
        <h1>Eventos</h1>
      </div>
      <div class="col-sm-8">
        <a href="" class="btn btn-primary btn-event">A&ntilde;adir evento</a>
      </div>
        <div class="col-sm-12">
          <table class="table">
            <tr>
              <th>ID</th>
              <th>Categoría</th>
              <th>Título</th>
              <th>Fecha</th>
              <th>Precio</th>
            </tr>
            <tr>
              <td>1834</td>
              <td>Taller</td>
              <td>Creatividad y oportunidad de negocios</td>
              <td>18 Marzo 2015</td>
              <td>Gratis</td>
            </tr>
            <tr>
              <td>1313</td>
              <td>Curso</td>
              <td>Actitud emprendedora y plan de vida</td>
              <td>9 de Abril 2015</td>
              <td>RD$200</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div><!-- /container -->
</div><!-- /companies -->


{% endblock content %}
