
{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ organization.name }}{% endblock title %}
{% block content %}


<div class="profile">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="profile-box text-center slideRightX">
          <h1>Perfil Institucional</h1>
          <img src="{{ organization.get_picture_url }}">
          <h3>{{ organization.name }}</h3>
          {% if organization.description %}
          <p>{{ organization.description }}</p>
          {% endif %}
          <div class="profile-links">
            <table class="table">
              <tr>
                <th>Contacto</th>
                <td>{{ profile.full_name }}</td>
              </tr>
              <tr>
                <th>Teléfono</th>
                <td>{{ organization.phone }}</td>
              </tr>
              <tr>
                <th>Email</th>
                <td><a href="mailto:{{ profile.email }}">{{ profile.email }}</a></td>
              </tr>
              <tr>
                <th>Website</th>
                <td>
                  {% if organization.url  %}
                  <a href="{{ organization.url }}" target="_blank">{{ organization.url }}</a>
                  {% endif %}
                </td>
              </tr>
            </table>
            {% if profile == request.user %}
            <a href="/dashboard/" class="btn btn-primary btn-profile btn-block">Editar perfil</a>
            {% endif %}
          </div><!-- /profile-links -->
        </div><!-- /profile-box -->
      </div><!-- /col-sm-8 -->
      <div class="col-sm-8 slideLeftX">
      <div class="col-sm-4">
        <h1>Eventos</h1>
      </div>
      <div class="col-sm-8">
        {% if profile == request.user %}
            <a href="" class="btn btn-primary btn-event">A&ntilde;adir evento</a>
         {% endif %}
      </div>
        <div class="col-sm-12">
          <table class="table">
            <tr>
              <th>ID</th>
              <th>Categoría</th>
              <th>Título</th>
              <th>Fecha</th>
              <th>Precio</th>
            </tr>
            <tr>
              <td>1834</td>
              <td>Taller</td>
              <td>Creatividad y oportunidad de negocios</td>
              <td>18 Marzo 2015</td>
              <td>Gratis</td>
            </tr>
            <tr>
              <td>1313</td>
              <td>Curso</td>
              <td>Actitud emprendedora y plan de vida</td>
              <td>9 de Abril 2015</td>
              <td>RD$200</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div><!-- /container -->
</div><!-- /companies -->


{% endblock content %}
