/*! project specific CSS goes here. */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
}

p, a {
  font-family: 'Open Sans', sans-serif; 
}

/*Menu/////////////////////////////////*/

.sidebar {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	color: #fff;
	border-right: 1px solid #eee;
	padding: 0px;
}

.logo {
	background-color: #3498db;
	top: 0px;
	padding: 20px;
	
}

.logo h2 {
	position: absolute;
	top: 100px;
}

.column {
	background-color: #3DB654;
	top: 180px;
}

.column a {
	color: #fff;
	display: block;
	height: 50px;
	text-decoration: none;
}

.menu-link {
	padding: 10px 0px;
	text-align: right;
	font-size: 20px;
	border-bottom: 1px solid #319243;
	height: 50px;
}

.border-top {
	border-top: 1px solid #319243;
}

.no-padding {
	padding: 0px;
}

.menu-hover:hover {
	background-color: #319243;
}

.menu-blue {
	background-color: #3498db;
}

.menu-blue:hover {
	background-color: #2980b9;
}

.navbar-default {
	background-color: #319243;
	border-color: #319243;
}

.navbar-default .navbar-nav>li>a, 
.navbar-default .navbar-brand {
	color: #fff;
}

.navbar {
	border-radius: 0px;
}

/*Main/////////////////////////////////*/

.main {
	left: 270px;
	top: 30px;
}

@media (max-width: 760px) {
	.main {
		left: 0px;
		top: 0px;
	}
}


/*Companies/////////////////////////////////*/

.company {
	border: 1px solid #d1d1d1;
	padding: 5%;
	text-align: center;
}
.company p {
	padding: 10px 0px;
}

.company img {
	width: 100%;
}

/*Login & Signin /////////////////////////////////*/

.inner-box {
	margin: 50% 0%;
}

.inner-box button {
	margin-top: 10px;
}

.inner-box p {
	margin-top: 17px;
}

/*Dashboard /////////////////////////////////*/

.profile {
/*	border: 1px solid #d1d1d1;*/
	padding: 5%;
	margin-top: 10px;
}

.profile-img {
	text-align: center;
}

.profile img {
	width: 230px;
	height: auto;
	border: 1px solid #d1d1d1;
}

.profile-forms {
	margin-top: 10px;

}

.profile-forms .tab-content {
	border: 1px solid #d1d1d1;
	border-top: transparent;
	padding: 2% 1%;
}

.nav-tabs > li.passive > a {
  color: #555;
  cursor: default;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.events-table {
	margin-top: 30px;
}

.events-table table {
	margin: 20px 0px;
}


.searchio {
	margin-bottom: 20px;
}

.events-table thead {
	background-color: #428bca;
	color: #fff;
}



/*Hover Profile Image /////////////////////////////////*/


.profile figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.profile figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.8;
}

.profile figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.profile figure figcaption::before,
.profile figure figcaption::after {
	pointer-events: none;
}

.profile figure figcaption,
.profile figure a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.profile figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.profile figure p {
	letter-spacing: 1px;
	font-size: 100%;
	margin: 0;
}

/*---------------*/
/***** Oscar *****/
/*---------------*/


figure.effect-oscar img {
	opacity: 1;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-oscar figcaption {
	padding: 3em;
}

figure.effect-oscar figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #fff;
	content: '';
}

figure.effect-oscar h2 {
	margin: 20% 0 10px 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0);
	transform: scale(0);
}

figure.effect-oscar:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-oscar:hover figcaption {
	background-color: rgba(58,52,42,0);
}

figure.effect-oscar:hover img {
	opacity: 0.4;
}

.big {
	font-size: 150px;
}






