


* {
margin: 0;
}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.footer, .push {
height: 300px;
}




body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.btn-success {
	background-color: #282e7d;
	border-color: #282e7d;
	color: #fff;
}

.btn-success:hover {
	background-color: #d12033;
	border-color: #d12033;
	color: #fff;
}

.btn-primary {
	background-color: #d12033;
	border-color: #d12033;
	color: #fff;
}

.btn-primary:hover {
	background-color: #282e7d;
	border-color: #282e7d;
	color: #fff;
}

.btn-default {
	border: 2px solid #282e7d;
	color: #282e7d !important;
	background-color: transparent;
}

.btn-default:hover {
	color: #d12033 !important;
	border: 2px solid #d12033;
}

/*******************************
          Menu
*******************************/

#logo {
	width: 200px;
}

.mobile-logo {
	height: 60px;
	padding: 0px 15px;
}

@media (max-width: 750px) {
	.mobile-logo {
		height: 40px;
	}
}

.big-logo {
	height: 200px;
}

.no-padding-logo {
	padding: 5px 15px;
}

.big-pills {
	padding: 3%;
}

.custom-pills {
	font-size: 18px;
	color: #333 ;
}

.custom-pills:hover {
	background-color: transparent !important;
	color: #2d348c;
}

#index-dropdown {
	color: #2d348c !important;
}

.navbar {
	border: 0px;
	margin-bottom: 0px;
}

.navbar-right {
	font-size: 18px;
}

.navbar-nav li {
	border-left: 1px solid #ddd;
}

.navbar-nav li a {
	padding: 30px 15px;
}

.navbar-nav .dropdown-menu li a {
	padding: 15px 30px;
}

.navbar-nav li a:hover {
	background-color: #d12033 !important;
	border-color: #d12033;
	color: #fff !important;
}

.login-link {
	color: #777;
	padding: 10px 10px; 
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
	background-color: #d12033;
	color: #fff;
}

.navbar-default .navbar-nav > li:hover {
	color: #fff !important;  
}

/*******************************
           Call to action
*******************************/

.call-to-action {
	padding: 30px;
}

#cover {
	background: url('../img/bg3.jpg') no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.big-tagline {
	font-size: 45px;
	margin-top: 10%;
	color: #333;
}

.small-tagline {
	font-size: 28px;
}

.btn-action {
	width: 200px;
	margin-top: 30px;
	padding: 15px;
	font-size: 20px;
	font-weight: 400;
	border-radius: 8px;
	-webkit-border-radius: 8px;
}

@media (max-width: 992px) {
	.big-tagline {
		text-align: center;
		font-size: 35px;
	}

	.small-tagline {
		text-align: center;
		font-size: 25px;
	}
}


/*******************************
           Categories
*******************************/

.categories {
	
	color: #333;
	font-size: 16px;
}

.categories h1 {
	margin: 50px 0px;
	margin: 60px 0px;
}

.categories i {
	font-size: 100px;
	margin: 20px 0px 5px 0px;
}

.category {
	margin-bottom: 60px;
	visibility: hidden;
}

.category-title {
	font-size: 28px;
}

.category-content {
	margin: 20px 0px;
	height: 150px;
}


/*******************************
           Register Form
*******************************/


.user-register-form {
	padding: 30px 0px;
}

.user-register-form h2 {
	margin-bottom: 30px;
}

#id_categories {
	width: 100%;
}

/*******************************
           Companies
*******************************/

.companies {
	padding: 30px;
}

.company-clear {
	border: 1px solid #999;
}

.company {
	margin: 20px;
}

.company img {
	max-width: 300px;
	height: 100px;
	width: auto;
}

.company .btn-success:hover {
	background-color: #282e7d;
	border-color: #282e7d;
	color: #fff;
}

/*******************************
           Profile
*******************************/

.profile-links {
	padding: 10px 50px;
}

.profile-links a {
	color: #d12033;
}

.profile-box .table > thead > tr > th, 
.profile-box .table > tbody > tr > th, 
.profile-box .table > tfoot > tr > th, 
.profile-box .table > thead > tr > td, 
.profile-box .table > tbody > tr > td, 
.profile-box .table > tfoot > tr > td {
	border: 0px;
}

.btn-event {
	margin-top: 25px;
}

.btn-profile {
	color: #fff !important;
}

.profile-box img {
	width: 300px;
}

/*******************************
    Dashboard Edit Profile
*******************************/


.dashboard-tabs .nav-tabs>li>a, 
.dashboard-tabs .nav-tabs>li>a:hover, 
.dashboard-tabs .nav-tabs>li>a:focus {
	border: 1px solid #ddd;
 
}
 
.dashboard-tabs .nav-tabs>li.active>a, 
.dashboard-tabs .nav-tabs>li.active>a:hover, 
.dashboard-tabs .nav-tabs>li.active>a:focus {
	border-bottom-color: transparent;
}

.dashboard-tabs .tab-pane {
	border: 1px solid #e7e7e7;
	border-top: transparent;
	background-color: #fff;
}

.dashboard-tabs {
	margin: 30px 0px;
}

.change-profile {
	padding: 30px 0px;
	padding-left: 20px;
}

#id_user_pic {
	width: 300px;
	margin-bottom: 20px;
	position: relative;
	height: 150px;
	overflow: hidden; 
}
 
@media (max-width: 992px) {
	#id_user_pic {
		width: 120px;
		height: auto;
		overflow: visible; 
	}
}
 
#id_user_pic img {
	height: 100%;
}
 
#id_user_pic #camera {
	position: absolute;
    left: 10%;
    top: 110px;
}
 
#id_user_pic i {
	font-size: 20px;
	color: #B7B7B7;
}

#picture-hidden {
	visibility: hidden;
}

#id_description {
	margin-bottom: 20px;
}


/*******************************
    Dashboard
*******************************/

#events {
	padding: 30px;
}

.empty {
	border: 2px dotted #999;
	color: #999;
	font-size: 20px;
	padding: 30px;
}

#events form {
	margin-bottom: 30px;
	margin-top: 20px;
}

.datepicker.dropdown-menu {
	width: 300px;
}

#event-form {
	display: none;
}

#event-form-btn {
	margin-bottom: 20px;
}

.description-row td {
	border-top: none !important;
}

.description-row {
	display: none;
}

.category-tag {
	background-color: #888; 
	color: #fff;
	padding: 5px 10px;
	border-radius: 3px;
	margin: 0px 5px;
}


.category-tag a {
	color: #fff;
	text-decoration: none;
}

.category-p {
	margin-bottom: 15px;
	float: left;
}


#approval {
	padding: 30px;
}

.new-org {
	border: 1px solid #ddd;
	padding: 15px;
	margin: 10px 0px;
}

.new-org img {
	width: 250px
}

.new-org-field {
	margin: 10px 0px;
}

#users-list {
	padding: 30px;
}

#add-new-user-form {
	margin: 30px 0px;
	display: none;
}

#add-new-user-btn {
	margin-bottom: 20px;
}


#password-change-form {
	margin: 30px;
}

/*******************************
           Calendar
*******************************/

.calendar {
	padding: 20px;
}

.calendar h1 {
	margin-bottom: 30px;
}

.calendar .btn-primary {
	margin-top: 20px;
}

.calendar-header {
	margin-bottom: 10px;
}

.event-box {
	padding: 0px 10px;
	margin-bottom: 15px;
}

.event-day-box {
	color: #d12033;
	border: 1px solid #ddd;
	width: 100px;
	display: block;
	margin: 0 auto;
	padding: 15px 10px;
	border-radius: 5px;
}

.event-day-box h3,
.event-day-box h2 {
	margin: 5px 0px;
}

.event-info-box p {
	margin: 15px 0px;
}

.event-info-box h3 {
	margin: 0px;
}

/*******************************
           About
*******************************/

.about h3 {
	color: #d12033;
}

.about h4 {
	color: #282e7d;
}

.eje {
	margin: 30px 0px;
}

.about a {
	font-size: 18px;
	color: #282e7d;
	text-decoration: underline;
}

/*******************************
           Footer
*******************************/

.footer {
	background-color: #353740;
	padding: 30px;
	color: #fff;
}

.footer i {
	color: #fff;
	font-size: 50px;
	margin: 0px 10px;
}

.footer-logo {
	height: 100px;
}


/*******************************
           Credits
*******************************/


.credits {
	background-color: #121316;
	padding: 10px;
	color: #fff;
}

.credits a {
	color: #D97809;
}

.credits p {
	margin: 0px;
}


