{% extends 'base.html' %}				

{% block content %}

	<div class="col-sm-9 main">
		<div class="container">
			<div class="col-sm-12">
				<div class="col-sm-4 col-sm-offset-4">

					<div class="inner-box text-center">
						<h1>Registrate</h1>
						  <form action="." method="post">
			                  {% csrf_token %}
			   				  <br>
			                  {{ form.full_name }}
			                  <br>
			                  {{ form.password }}
			             </form>
			        </div>
			              
					
				</div><!-- col-sm-4 -->
			</div><!-- col-sm-12 -->
		</div><!-- /container -->
	</div><!-- col-sm-9 -->

	
{% endblock content %}
