{% extends "base.html" %}

{% load staticfiles %}
{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}/css/chosen.css">
{% endblock extra_css %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 user-register-form">
    <h2>Registro de Instituci&oacute;n</h2>
      <form action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <h4>Nombre de Contacto</h4>
          {{ user_form.full_name }}
        </div>
        <div class="form-group">
          <h4>Email</h4>
          {{ user_form.email }}
        </div>
        <div class="form-group">
          <h4>Contrase&ntilde;a</h4>
          {{ user_form.password1 }}
        </div>
        <div class="form-group">
          <h4>Repetir Contrase&ntilde;a</h4>
          {{ user_form.password2 }}
        </div>
        <div class="form-group">
          <h4>Categor&iacute;a</h4>
          {{ organization_form.categories }}
        </div>
        <div class="form-group">
          <h4>Nombre Organizacion</h4>
          {{ organization_form.name }}
        </div>
        <div class="form-group">
          <h4>Description</h4>
          {{ organization_form.description }}
        </div>
        <div class="form-group">
          <h4>Telefono</h4>
          {{ organization_form.phone }}
        </div>
        <div class="form-group">
          <h4>Pagina Web</h4>
          {{ organization_form.url }}
        </div>
        <div class="form-group">
          <h4>Direccion</h4>
          {{ organization_form.address }}
        </div>
        <div class="form-group">
          <h4>Provincia</h4>
          {{ organization_form.province }}
        </div>
        <div class="form-group">
         <button class="btn btn-success pull-right" type="submit">Registrarse</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
  <script>
  {# Here goes the code for using the categories as a selectpicker#}
  $(document).ready(function(){
    $('#id_categories').chosen({});
  });
  </script>
{% endblock extra_js %}
