{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}app{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- This file store project specific CSS -->

    <!-- Use this to quickly test CSS changes in a template,
        then move to app.css -->
    {% block extra_css %}

    {% endblock extra_css %}
  </head>

  <body>

    <nav class="navbar navbar-default visible-xs" role="navigation" >
        <div class="container">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/">
            </a>
          </div>

            <div class="navbar-right collapse navbar-collapse" id="navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Dashboard</a></li>
                <li><a href="/claim">Claims</a></li>
                <li><a href="/team">Teams</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>

        </div>
      </nav>

      <div class="container-fluid">
      	<div class="row">
      		<div class="col-sm-3 col-md-2 sidebar logo hidden-xs ">
      			<h2>RD Emprende</h2>
      		</div>
      		<div class="col-sm-3 col-md-2 sidebar column hidden-xs">
	      		<div class="menu-block">
	      		
	      			<div class="menu-hover">
		      			<div class="menu-link border-top">
		      				<div class="col-sm-9 no-padding">
		      					<a href=""><p>SOBRE </p></a>
		      				</div>
		      				<div class="col-sm-3 text-center">
		      					<i class="fa fa-home fa-lg"></i>
		      				</div>
		      			</div>
	      			</div>
	      			<div class="menu-hover">
		      			<div class="menu-link">
		      				<div class="col-sm-9 no-padding">
		      					<a href="/inspira/"><p>INSPIRA </p></a>
		      				</div>
		      				<div class="col-sm-3 text-center">
		      					<i class="fa fa-lightbulb-o fa-lg"></i>
		      				</div>
		      			</div>
	      			</div>
	      			<div class="menu-hover">
		      			<div class="menu-link">
		      				<div class="col-sm-9 no-padding">
		      					<a href=""><p>CONECTA </p></a>
		      				</div>
		      				<div class="col-sm-3 text-center">
		      					<i class="fa fa-users fa-lg"></i>
		      				</div>
		      			</div>
	      			</div>
	      			<div class="menu-hover">
		      			<div class="menu-link">
		      				<div class="col-sm-9 no-padding">
		      					<a href=""><p>CREA </p></a>
		      				</div>
		      				<div class="col-sm-3 text-center">
		      					<i class="fa fa-cogs fa-lg"></i>
		      				</div>
		      			</div>
	      			</div>
	      			<div class="menu-hover">
		      			<div class="menu-link">
		      				<div class="col-sm-9 no-padding">
		      					<a href=""><p>GUIA </p></a>
		      				</div>
		      				<div class="col-sm-3 text-center">
		      					<i class="fa fa-arrow-up fa-lg"></i>
		      				</div>
		      			</div>
	      			</div>
	      			<div class="menu-hover">
		      			<div class="menu-link">
		      				<div class="col-sm-9 no-padding">
		      					<a href=""><p>CAPITAL </p></a>
		      				</div>
		      				<div class="col-sm-3 text-center">
		      					<i class="fa fa-university fa-lg"></i>
		      				</div>
		      			</div>
	      			</div>
	      			<div class="menu-hover">
		      			<div class="menu-link">
		      				<div class="col-sm-9 no-padding">
		      					<a href=""><p>CONTACTO </p></a>
		      				</div>
		      				<div class="col-sm-3 text-center">
		      					<i class="fa fa-pencil-square-o fa-lg"></i>
		      				</div>
		      			</div>
	      			</div>

	      			<div class="menu-hover menu-blue">
		      			<div class="menu-link">
		      				<div class="col-sm-9 no-padding">
		      					<a href=""><p>INICIAR SESIÓN </p></a>
		      				</div>
		      				<div class="col-sm-3 text-center">
		      					<i class="fa fa-sign-in fa-lg"></i>
		      				</div>
		      			</div>
	      			</div>
	      			
	      		</div>
      		</div>
      	
      {% block content %}
      
      {% endblock content %}
      	</div>
      </div>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- place project specific Javascript in this file -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>

    {% block extra_js %}
    {% endblock extra_js %}

  </body>
</html>

