{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}RD Emprende{% endblock title %}</title>

  <!-- CS -->

  <link rel="stylesheet" href="{{ STATIC_URL }}/css/bootstrap.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/animation.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/style.css">

  {% block extra_css %}

  {% endblock extra_css %}
</head>

<body>

	<nav class="navbar navbar-default" id="navbar">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	       <a href="/" class="navbar-brand no-padding-logo"><img src="{{ STATIC_URL }}/img/logo.png" class="mobile-logo"></a>
	    </div>

	    <div class="collapse navbar-collapse" id="navbar-collapse">
	      <ul class="nav navbar-nav navbar-right text-center">
	          <li role="presentation"><a href="/category/inspira/">Inspira</a></li>
	          <li role="presentation"><a href="/category/crea/">Crea</a></li>
	          <li role="presentation"><a href="/category/guia/">Guia</a></li>
	          <li role="presentation"><a href="/category/conecta/">Conecta</a></li>
	          <li role="presentation"><a href="/category/capital/">Capital</a></li>
	          <li role="presentation"><a href="/calendar/">Eventos</a></li>

	         {% if user.is_authenticated %}
            <li role="presentation">
                <a class="dropdown-toggle login-link " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                  Hola, {{ user.full_name }}
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Eventos</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/dashboard/">Perfil</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/dashboard/">Cambiar contrase&ntilde;a</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/accounts/logout/">Cerrar sesi&oacute;n</a></li>
                </ul>
            </li>

            {% else %}

            <li role="presentation"><a href="#" data-toggle="modal" data-target="#signin-modal">Iniciar Sesi&oacute;n</a></li>

            {% endif %}
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	{% block content %}
	{% endblock content %}


<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Iniciar Sesi&oacute;n</h4>
      </div>
      <div class="modal-body">
      	<p class="bg-danger hidden" id="signin_error_message"></p>
        <form action="/signin/" method="POST" id="signin-form">
        	{% csrf_token %}
        	<div class="form-group">
        		 <label>Email</label>
        		 {{ request.login_form.username }}
        	</div>
        	<div class="form-group">
        		 <label>Contrase&ntilde;a</label>
        		 {{ request.login_form.password }}
        	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
        <button type="button" id="signin-btn" class="btn btn-success">Iniciar Sesi&oacute;n</button>
      </div>
      </form>
    </div>
  </div>
</div>


	<div class="footer">
	  <div class="container">
	    <div class="row">
      <div class="col-sm-5">
        <div class="col-sm-4">
          <img src="{{ STATIC_URL }}/img/logow.png" class="footer-logo pull-left">
        </div>
        <div class="col-sm-8">
          <p>La Red Nacional de Emprendimiento es una organización que busca potenciar una cultura de emprendimiento e innovación como forma de pensar y actuar en la vida, asegurando la competitividad, liderazgo, formación y sostenibilidad de las nuevas empresas que se crean en el país.</p>
          <a href="/signup/" class="btn btn-primary">Registro de Instituciones</a>
        </div>
        
      </div>
      <div class="col-sm-4">
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup{color:#fff; clear:left; font-family: 'Open Sans', sans-serif; }
          #mc_embed_signup .button {background-color: #d12033; }
          #mc_embed_signup .button:hover {background-color: #282e7d;}
          #mc_embed_signup h2 {font-weight:300;}
          /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
             We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
        <form action="//pymes.us10.list-manage.com/subscribe/post?u=fba94ef83df0f2cfcf222c4e1&amp;id=ad706ed4d1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
          <h2 style="margin:0px; margin-bottom: 10px">Suscribete a Nuestro Boletín</h2>
        <div class="mc-field-group">
          <label for="mce-EMAIL">Correo Electrónico</label>
          <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
        </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_fba94ef83df0f2cfcf222c4e1_ad706ed4d1" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Suscríbete" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->

      </div>
        <div class="col-sm-3 text-center">
        <h3>Síguenos</h3>
          <a href="https://twitter.com/EmprendoRD"><i class="fa fa-twitter-square"></i></a>
          <a href="https://www.facebook.com/EmprendoRD"><i class="fa fa-facebook-official"></i></a>
          <a href="mailto:rdemprende@gmail.com"><i class="fa fa-envelope"></i></a>
        </div>
	    </div>
	  </div>
	</div>

	<div class="credits">
	  <div class="container">
	    <div class="row">
	      <div class="col-sm-12">
	        <p class="pull-right">Desarrollado por <a href="http://codetiger.co">Codetiger</a></p>
	      </div>
	    </div>
	  </div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/script.js"></script>
	{% block extra_js %}

	<script>
		var signin = $("#signin-btn");
 
		signin.click(
		    function(event){
		        //eliminate the default function
		        event.preventDefault();
		        $.ajax({
		            url: '/signin/',
		            data:  $('#signin-form').serialize(),
		            type: "POST",
		            success: 
		                function(result){
		                	 if (result.is_loggedin){
				                  window.location = "/";
				              } else {
				                $('#signin_error_message').html(result.reason).removeClass('hidden');
				              }
		                },
		            error: 
		                function(){
		                    alert("Estamos experimentando problemas, intente más tarde.");
		                }
		        });
		});
	</script>
  {% endblock extra_js %}

</body>
</html>

